.footer {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0;
    }
    &__cc {
        display: flex;
        align-items: center;
        color: #6d6d6d;
    }
    &__contact {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        &__item {
            margin: 0 10px;
        }
    }
    &__icon {
        display: inline-block;
        margin-right: 15px;
    }
    &__paragraph {
        display: inline-block;
    }
    &__link {
        text-transform: capitalize;
        color: #6d6d6d;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.38px;
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}

@media (max-width: 740px) {
    .footer__inner {
        flex-direction: column;
        align-items: start;
    }
}

@media (max-width: 700px) {
    .footer__cc {
        margin-bottom: 20px;
    }
    .footer__contact__item {
        width: 100%;
    }
}

@media (max-width: 580px) {
    .footer__contact {
        flex-wrap: wrap;
    }
    .footer__contact__item {
        width: 100%;
        margin: 5px 0;
    }
}